@import "tailwindcss";


.swiper-button-next,
.swiper-button-prev {

  color: #222 !important;

  width: 28px !important;

  height: 28px !important;

  transition: 0.3s;

}


.swiper-button-next::after,
.swiper-button-prev::after {

  font-size: 18px !important;

  font-weight: 600;

}


.swiper-button-next:hover,
.swiper-button-prev:hover {

  color: black !important;

  transform: scale(1.15);

}

.trending-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}